APP_PORT=3000
APP_DOMAIN=ha.dev
APP_NAME="E-Commerce"

DB_CONNECTION=postgres
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres.ywddjkekovjltneirvor
DB_PASSWORD=oiEIygQnRQLy9xcc

SUPABASE_URL=https://ywddjkekovjltneirvor.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3ZGRqa2Vrb3ZqbHRuZWlydm9yIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4ODEyODk2OCwiZXhwIjoyMDAzNzA0OTY4fQ.HvfC1z4oS8BpD_Hno6PLtCUyM4rpJzrQRe53isvtNSw

SESSION_CREDENTIAL="12345"
SESSION_SECRET="Un string muy pero muy secreto"

JWT_SECRET_KEY="123456"

